#UpsellTable {
    border-top: 0.1rem solid rgba(var(--color-foreground),.2);
}

.upsellWrapperButton {
    grid-column-end: span 3;
}

#upsellButton {
    width: 100%;
}

.hidden {
    display: none !important;
}

.drawer__inner {
    padding: 0 1.5rem !important;
}